/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.jumbotron {
    margin-bottom: 0;
}

.jumbotron.header {
    background: url(../images/gtp-header.jpg) center center no-repeat;
    background-size: 100%;
    color: #fff;
}

.jumbotron.gray {
    background-color: #bdc3c7;
}

.jumbotron.black {
    background-color: #222;
    color: #fff;
}

.jumbotron img.band {
    width: 50%;
    display: block;
    margin: 10px auto;
}

.jumbotron img.staff {
    width: 50%;
    display: block;
    margin: 10px auto;
}

footer.jumbotron {
    margin-bottom: -20px;
}

